
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


:root {
    --bg-grey: #ddd;
    --Cinza: #CBC8C8;
    --text-oppaco: #4a4a4a;
    --color-primary: #4D41C0;
    --white: #FFFFFF;
    --text-nardo: #686A6C;
    --Gold-Star: #FFD700;
    --Grey-OP: #474a51;
    --Big-Blood: #bb0a1e;
    --Green-LK-Green: #48A14D;
    --Red-matte: #B33F40;
    --Blue-Skyfall: #4CC0BF;
    --Byzanite: #B23FB3;
    --Lylaxx: #F0D9D9;
    --Orange-Matte: #ED944D;
    --Turquoise: #4DEDE4;
    --Military-Green: #78866b;
    --Dark-Grey: #191919;
    --Mid-Grey: #a9a9a9;
    --gOLD: #F7EF84;
    --Gold2: #EEC900;
    --Light-red: #F31919;
    --Red: #E11010;
    --Dark-Red: #CE1919;
    --Black: #000000;
    --zzz: #5F5858;
    --Grey-3: #484545;
    --Grey-5: #444343;
    --Grey-4: #504C4C;
    --bg-dk-Grey: #252526;
    --light-black: #0C0C0D;
    --Sun-Grey: #3A3A3A;


}

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



html, body {
 background-color: var(--bg-dk-Grey);
}

header {
    background-color: var(--light-black);
    color: var(--Dark-Red); 
    height: 60px;
    display: flex;
    align-items: center;
}

nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 a {
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    display: flex;
    color: var(--Big-Blood);
}

nav a {
    font-size: 13px;
    font-weight: 400;
    align-items: center;
    display: flex;
}
a, a:hover {
    text-decoration: none;
    color: unset; 
}

.DSMovie-contact-container {
    display: flex;
    align-items: center;
}

.DSMovie-contact-container img {    
    margin-right: 2px;
    margin-top: 7px;
    display: flex;
    align-items: center;
}

#DSMovie-Card-List {
    padding: 0px 10px;
}

.DSMovie-Pagination-Container {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DSmovie-Pagination-Box {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
}

.DSmovie-Pagination-Box p {
    margin: 0;
    font-size: 13px;
    color: var(--Dark-Grey);
    font-weight: 400;
}

.DSmovie-Pagination-Box button {
    width: 30px;
    height: 30px;
    border: 1px solid var(--Light-red);
    border-radius: 4px;
    background-color: var(--Grey-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.DSmovie-Pagination-Box button img {
filter: invert(20%) sepia(57%) saturate(100%) hue-rotate(239deg) brightness(15%) contrast(86%);
}

.DSmovie-Pagination-Box button:disabled {
    border: 1px solid var(--Red-matte);
}

.DSmovie-Pagination-Box button:disabled img {
    filter: unset;
}

.DSmovie-Pagination-Box p {
    color: var(--Black);
    font-size: 12px;
    font-weight: 700;
}

.DSMovie-Card {
    width: 100%;
}

.DSMovie-Card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.DSMovie-Card-Descripition {
    background-color: var(--Sun-Grey);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 190px;
}

.DSMovie-Card-Descripition h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: var(--Black);
}

.DSMovie-Card-Evaluation {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.DSMovie-Card-Evaluation h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--Cinza);
}

.DSMovie-Card-Evaluation img {
    width: 22px;
}

.DSMovie-Card-Evaluation p {
    font-size: 11px;
    font-weight: 700;
    color: var(--Black);
    margin-top: 5px;
    margin-bottom: 10px;
}

.DSMovie-btn, .DSMovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.DSMovie-Form-Container {
    padding: 40px 0;
    max-width: 480px;
}

.DSMovie-Form-Descripition {
    background-color: var(--Sun-Grey);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.DSMovie-form  {
width: 100%;    
}

.DSMovie-Form-Descripition h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--Black);
}

.DSmovie-form-group {
    margin-bottom: 20px;
}

.DSmovie-form-group label {
    font-size: 12px;
    font-weight: 700;
    color: var(--Black);
}


.DSmovie-btn {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

